DB_HOST=localhost
DB_USER=your-username
DB_PASS=your-password
DB_NAME=bookmark_dev
DB_PORT=5432
DATABASE_URL="postgresql://your-username:your-password@localhost:5432/bookmark_dev?schema=public"

JWT_SECRET=your-jwt-secret-HS256